<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Layout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand="full" (click)='openPage("layout-header-footer")'>Header e Footer</ion-button>
  <ion-button expand="full" (click)='openPage("tabs")'>Tabs</ion-button>
  <ion-button expand="full" (click)='openPage("layout-menu")'>Menu</ion-button>
  <ion-button expand="full" (click)='openPage("layout-split-pane")'>Split Pane</ion-button>
  <ion-button expand="full" (click)='openPage("layout-grid")'>Grid</ion-button>
  <ion-button expand="full" (click)='openPage("layout-css-utilities")'>Css Utilities</ion-button>

</ion-content>
