h3 {
  font-weight: bold;
  text-transform: uppercase;
}


.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}



