<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Layout - Css Utilities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class='text-start'>
          <h3>text-start</h3>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. At porro quos nam minus! Nulla, id doloribus?
          Expedita tenetur neque aliquid impedit provident aut animi incidunt ab. Architecto officia ex corrupti.
        </div>
      </ion-col>

      <ion-col>
        <div class='text-end'>
          <h3>text-end</h3>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. At porro quos nam minus! Nulla, id doloribus?
          Expedita tenetur neque aliquid impedit provident aut animi incidunt ab. Architecto officia ex corrupti.
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class='text-justify'>
          <h3>text-justify</h3>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. At porro quos nam minus! Nulla, id doloribus?
          Expedita tenetur neque aliquid impedit provident aut animi incidunt ab. Architecto officia ex corrupti.
        </div>
      </ion-col>

      <ion-col>
        <div class='text-center'>
          <h3>text-center</h3>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. At porro quos nam minus! Nulla, id doloribus?
          Expedita tenetur neque aliquid impedit provident aut animi incidunt ab. Architecto officia ex corrupti.
        </div>
      </ion-col>
    </ion-row>



  </ion-grid>
</ion-content>
